.flexbox
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between 2px;
    margin-bottom: 5px;
}
.navi
{   
    justify-content: flex-start;
    width: 25%;
    background-color:#f2eecd;
}
.articles
{
    display: flex;
    flex-direction: column;
    width: 75%;

}
.art1
{
    background-color: saddlebrown;
    color: yellowgreen;
    margin-bottom: 5px;
       
}
.art2
{
    display: flex;
    flex-direction: column;
    background-color: lightcoral;
    align-items: flex-end;
}
footer
{
    display: flex;
    width: 100%;
    background-color: lightblue;
}
#picture
{
    align-self:  flex-end;
}