@media all and (max-width: 1080px)
{
    div.MenuLevel1 { width: 100px;  }
        div.MenuLevel1 > div { background-color: yellow; border: solid blue 1px; position: relative; cursor: pointer}
        div.MenuLevel2 { width: 100px; display: none }
        div.MenuLevel2 > div { background-color: cyan; border: solid blue 1px; cursor: pointer }
        div.MenuLevel1 > div:hover div.MenuLevel2 { display: block; position: absolute; left: 80%; top: 90%; z-index: 1 }
}